[user]
	email = norimaking777@gmail.com
	name = kijimaD
[github]
	user = kijimaD
[http]
	sslVerify = false
[alias]
	delete-merged-branch = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|main|master'|xargs git branch -d; };f"