[user]
	email = norimaking777@gmail.com
	name = Kijima Daigo
[github]
	user = kijimaD
[http]
	sslVerify = false
[alias]
	# delete merged branch
	dmb = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|main|master'|xargs git branch -d; };f && git fetch --prune;"
