# reload -> $ crontab ~/dotfiles/crontab

00 * * * * ./dotfiles/scripts/notify.sh "Timebot" "$(date +\%H):00!"
50 00 * * * ./dotfiles/scripts/notify.sh "Timebot" "Time for bed!"

00 * * * * ./dotfiles/scripts/times.sh
50 00 * * * ./dotfiles/scripts/ann.sh "Sleep time!"
