[Desktop Entry]
Name=gnome
GenericName=Gnome
Comment=Run gnome startup script
Exec=sh /home/kijimad/dotfiles/.bash_profile
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true