[Desktop Entry]
Name=Start Syncthing
GenericName=File synchronization
Comment=Starts the main syncthing process in the background.
Exec=/usr/bin/syncthing -no-browser -logfile=default
Icon=syncthing
Terminal=false
Type=Application
Keywords=synchronization;daemon;
Categories=Network;FileTransfer;P2P
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[ja_JP]=Start Syncthing
Comment[ja_JP]=Starts the main syncthing process in the background.
X-GNOME-Autostart-Delay=0
